<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="121"
    android:versionName="1.2.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".base.BasicApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_chat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_chat"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="30">
        <service
            android:name=".service.ServerChatService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".service.ClientChatService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.ClientChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.ToServiceActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden|adjustResize" />
        <!--
            Activity 使用windowSoftInputMode属性是为了弹出键盘时不将布局顶出，
            而是保持在屏幕显示范围内，但是这样做会导致布局内容压缩
        -->
        <activity
            android:name=".activity.ToClientActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden|adjustResize" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>